@import '../colors.scss';

.main_container{
    min-height: calc(100vh - 180px);
    display: flex;
    flex-direction: column;
    align-items: center;
    .product_container{
        display: flex;
        justify-content: space-around;
        margin: 50px 0;
        padding: 30px;
        border: 2px solid $dark_primary;
        background-color: $primary;
        border-radius: 5px;
        width: 75%;
        .left_block{
            border: 2px solid $header_text_color;
            border-radius: 5px;
            width: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 20px;
            img{
                min-width: 100%;
                border-radius: 3px;
            }
        }
        .right_block{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border: 2px solid $header_text_color;
            border-radius: 5px;
            background-color: $header_text_color;
            h2{
                background-color: $primary;
                width: 100%;
                color: $header_text_color;
                text-align: center;
                border-radius: 3px 3px 0 0 ;
            }
            .footer{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                background-color: $primary;
                color: $header_text_color;
                border-radius: 0 0 3px 3px;
                .product_quantity{
                    width: 50%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-weight: bold;
                    color: $primary;
                    background-color: $header_text_color;
                    .quantity_button{
                        height: 30px;
                        width: 30px;
                        margin: 2px;
                        font-size: 20px;
                        color: $header_text_color;
                        border-color: $dark_primary;
                        background-color: $primary;
                        &:hover{
                            cursor: pointer;
                            background-color: $header_text_color;
                            color: $dark_primary;
                        }
                    }
                }
                .add_button{
                    background-color: $header_text_color;
                    border-color: $dark_primary;
                    color: $dark_primary;
                    height: 30px;
                    padding: 0 10px;
                    cursor: pointer;
                    &:hover{
                        cursor: pointer;
                        background-color: $light_primary;
                        color: $header_text_color;
                    }
                }
            }
            .product_body{
                width: 100%;
                .product_calendar{
                    margin-top: 10px;
                }
                .product_table{
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    .table_case{
                        border: 2px solid $primary;
                        height: 30px;
                        width: 30px;
                        text-align: center;
                        flex-grow: 1;
                    }
                    .green{
                        background-color: $light_primary;
                    }
                }
            }
        }
    }
}