@import '../colors.scss';

.container{
    background-color: $primary;
    height: 100px;
    color: $header_text_color;
    border-bottom: 3px solid $dark_primary;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 20px;

    nav{
        a{
            margin: 20px;
            font-size: 20px;
            font-weight: bold;
            &:hover{
                border-bottom: 2px solid $header_text_color;
            }
        }
    }
}