@import '../colors.scss';

.container{
    border: 2px solid $dark_primary;
    border-radius: 5px;
    width: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 15px $primary;
    transition: box-shadow 0.8s;
    &:hover{
        box-shadow: 0 0 30px $dark_primary;
    }
    .product_header{
        background-color: $primary;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $header_text_color;
        font-size: 20px;
        border-radius: 3px 3px 0 0 ;
    }
    .product_body{
        margin-top: 20px;
        img{
            width: 100%;
        }
    }
    .product_footer{
        background-color: $primary;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        padding: 10px 0;
        color: $header_text_color;
        
        .product_quantity{
            background-color: white;
            color: $primary;
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 80%;
            .quantity_button{
                background-color: $primary;
                border-color: $dark_primary;
                color: white;
                margin: 2px;
                font-size: 20px;
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    cursor: pointer;
                    background-color: $header_text_color;
                    color: $dark_primary;
                }
            }
        }
        .add_button{
            background-color: $header_text_color;
            border-color: $dark_primary;
            color: $dark_primary;
            height: 30px;
            padding: 0 10px;
            cursor: pointer;
            &:hover{
                cursor: pointer;
                background-color: $light_primary;
                color: $header_text_color;
            }
        }
    }
}